<div class="article-details">
    {{ if .Params.categories }}
    <div class="article-category">
        {{ range .Params.categories }}
        <a href="{{ "categories/" | relURL }}{{ . | urlize }}/">{{ . }}</a>
        {{ end }}
    </div>
    {{ end }}

    <h1 class="article-title">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h1>

    {{ if .Params.description }}
    <h3 class="article-subtitle">
        {{ .Params.description }}
    </h3>
    {{ end }}

    {{ if .Params.image }}
    <div class="article-image">
        <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" loading="lazy" />
    </div>
    {{ end }}
</div>
